.text-danger {
    text-align: start;
    margin-left: 7px;
}


.btnRe{
margin-top: 20px;
border-radius:10px;
}


ol,
ul {
    padding-left: 0rem;
}
.p-dropdown {
    width: 100%;
}
.p-dropdown-panel .p-component .ng-star-inserted {
    background-color: #000000;
    padding-left: 0%;
}
.p-overlay {
    padding-left: 0%;
}

// // 
//   .titulo {
//       font-size: 20px;
//       font-weight: bold;
//       display: block;
//       text-align: center;
//       margin-bottom: 20px;
//   }

//   .form-label {
//       font-weight: bold;
//   }

//   .form-control {
//       margin-bottom: 10px;
//   }

//   .btn-volver {
//       margin-right: 10px;
//   }

.container {
    margin-top: 37px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.titulo {
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

// .form-label {
//     font-weight: bold;
// }

.form-control {
    width: 100%;
}

.btn-volver {
    margin-right: 10px;
}
// 2
// .container {
//     margin-top: 50px; // Margen superior de 50px
// }

// .card {
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra ligera
// }

// .card-body {
//     padding: 20px; // Espaciado interno de 20px
//     display: flex; // Utiliza Flexbox para distribuir los elementos en filas
//     flex-wrap: wrap; // Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola fila
// }

// .titulo {
//     text-transform: uppercase; // Convertir el texto a mayúsculas
//     font-size: 24px; // Tamaño de fuente de 24px
//     width: 100%; // Ocupa todo el ancho disponible
//     text-align: center; // Centra el texto
//     margin-bottom: 20px; // Margen inferior de 20px
// }

.form-label {
color: rgb(3, 73, 65);
    // font-weight: bold; // Texto en negrita
    // width: 50%; // Ancho del 50% para ocupar la mitad del contenedor
}

.form-control-wrapper {
    width: 50%; // Ancho del 50% para ocupar la mitad del contenedor
    padding: 0 10px; // Espaciado interno horizontal de 10px
    box-sizing: border-box; // Incluye el padding en el ancho total
}

textarea.form-control {
    border-radius: 10px; // Borde redondeado de 10px
    border: 1px solid #ced4da; // Borde de 1px sólido
    padding: 10px; // Espaciado interno de 10px
    width: 100%; // Ancho del 100% para ocupar todo el espacio disponible
    resize: vertical; // Permitir la redimensión vertical
    min-height: 100px; // Altura mínima de 100px
}

.btn-volver {
    margin-right: 10px; // Margen derecho de 10px
}