.text-danger {
    text-align: start;
    margin-left: 7px;
}


.btnRe{
margin-top: 20px;
border-radius:10px;
}


ol,
ul {
    padding-left: 0rem;
}
.p-dropdown {
    width: 100%;
}
.p-dropdown-panel .p-component .ng-star-inserted {
    background-color: #000000;
    padding-left: 0%;
}
.p-overlay {
    padding-left: 0%;
}