<header class="header">
    <h1 class="logo">IOT SERVICE</h1>
    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a routerLink="/iot/dashboard" routerLinkActive="active">Devices</a>
            </li>
            <li class="menu-item">
                <a routerLink="/iot/devices" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="menu-item">
                <a routerLink=="/iot/tokens" routerLinkActive="active">Apps</a>
            </li>
            <li class="menu-item">
                <a (click)="mostrarSidebar()">New</a>
            </li>
        </ul>
    </nav>
</header>
<!-- 
<li><a routerLink="/iot/dashboard">Dashboard</a></li>
<li><a routerLink="/iot/devices">Devices</a></li>
<li><a routerLink="/iot/tokens">Tokens</a></li> -->
<!-- <router-outlet></router-outlet> Aquí se mostrarán los componentes correspondientes a las rutas -->