<body>
    <div>

        <div class="frm-container">
            <div class="container">
                <form method="post" [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()">
                    <h2>Registro de usuarios</h2>
                    <div class="conteninesinput">
                        <p-avatar image="../../../../assets/images/logo1.jpeg" styleClass="mr-2" size="xlarge"
                            shape="circle"></p-avatar>
                    </div>
                    <div class="conteninesinput">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-user"></i>
                            </p-inputGroupAddon>
                            <span class="p-float-label">
                                <input id="nombre" formControlName="nombre" pInputText />
                                <label for="nombre">Username</label>
                            </span>
                        </p-inputGroup>
                    </div>
                    <div class="conteninesinput">
                        <span class="p-float-label">
                            <input formControlName="correo" pInputText id="correo" />
                            <label for="correo">Correo</label>
                        </span>
                    </div>
                    <div *ngIf="!ValidarCorreo(usuarioForm?.get('correo')?.value)">
                        <p style="color: red;">el correo no es valido</p>
                    </div>
                    <div class="conteninesinput">
                        <span class="p-float-label">
                            <input pInputText  [(ngModel)]="value"  pKeyFilter="int" formControlName="telefono" id="telefono" (input)="limitarLongitud($event)"
                                pattern="[0-9]*"  />
                            <label for="telefono">Número telefónico</label>
                            <span class="character-counter">{{ usuarioForm.get('telefono')?.value ?
                                usuarioForm.get('telefono')?.value.toString().length : 0 }}/10</span>
                        </span>
                    </div>

                    <br>

                    <div class="conteninesinput">
                        <span class="p-float-label">
                            <p-password formControlName="pass" [toggleMask]="true">
                                <ng-template pTemplate="header">
                                    <h6>Pick a password</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Suggestions</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>At least one lowercase</li>
                                        <li>At least one uppercase</li>
                                        <li>At least one numeric</li>
                                        <li>Minimum 8 characters</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                            <label for="pass">Contraseña:</label>
                        </span>
                    </div>
                    <br>
                    <div class="conteninesinput">
                        <span class="p-float-label">
                            <p-password formControlName="confirmpass" [toggleMask]="true">
                                <ng-template pTemplate="header">
                                    <h6>Confirmar contraseña</h6>
                                </ng-template>
                            </p-password>
                            <label for="confirmPass">Confirmar Contraseña:</label>
                        </span>
                    </div>

                    <div
                        *ngIf="usuarioForm?.get('pass') && usuarioForm?.get('confirmpass') && !ValidaPass(usuarioForm?.get('pass')?.value, usuarioForm?.get('confirmpass')?.value)">
                        <p style="color: red;">Las contraseñas no coinciden</p>
                    </div>


                    <div class="conteninesinput">
                        <label for="">selecciona una pregunta</label>
                        <select class="form-control" formControlName="pregunta" id="inputState">
                            <option selected>seleccione...</option>
                            <option *ngFor="let preguntaItem of preguntas" [value]="preguntaItem.value">
                                {{preguntaItem.label}}</option>
                        </select>
                    </div>

                    <div class="conteninesinput">
                        <span class="p-float-label">
                            <input formControlName="respuesta" pInputText id="correo" />
                            <label for="correo">respuesta</label>
                        </span>
                    </div>
                    <button type="submit" class="btn"> Registrarme</button>
                </form>
            </div>
        </div>
    </div>
</body>