/* Estilos para los contenedores */
.container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para los títulos h2 */
h2 {
    font-size: 1.5rem;
    color: #333;
}

/* Estilos para las imágenes (ajusta según tus necesidades) */
img {
    max-width: 100%;
    height: auto;
}