<body>
    <header class="header">
        <div class="mt-3" style="width: 45%;">
            <label for="categoria" class="form-label">Selecciona un dispositivo:</label>
            <p-dropdown *ngIf="dispositivos.length > 0" formControlName="selectedDevice" [options]="dispositivos"
                placeholder="Seleccione..." appendTo="body" [style]="{'width': '100%'}" optionLabel="deviceName"
                optionValue="deviceName" (onChange)="dateSelectedDevice($event.value)">
            </p-dropdown>
        </div>
    </header>








    <!-- <section class="dispositivos">
        <div class="dispositivo">
            <img style="height: 131px; width: 131px;" [src]="imagen2" [alt]="alt">
            <div class="humedad">
                <span class="label">Humedad:</span>
                <span class="value">{{ humedad }}%</span>
            </div>
        </div>
        <div class="dispositivo">
            <img style="height:131px; width:131px;" [src]="imagen" [alt]="alt">
            <div class="temperatura">
                <span class="label">Temperatura:</span>
                <span class="value">{{ temperatura }}</span>
            </div>
        </div>
    </section> -->
    <section class="dispositivos">
        <div class="dispositivo">
            <div class="card flex justify-content-center">
                <p-knob valueColor="SlateGray" [size]="200"   [(ngModel)]="humedad"  rangeColor="MediumTurquoise"[readonly]="true" ></p-knob>
            </div>
                <h3 class="">{{text2}}</h3>
            </div>  

            
        <div class="dispositivo">
            <!-- <div class="speedometer"> -->
            <div class="termometro frio" [attr.data-content]="temperatura" style="color: antiquewhite ;  font-weight: bold;" id="termometro"></div>

             
            <!-- </div> -->

                <h3 class="">{{text}}</h3>
        </div>
    </section>








    <section class="botones">
        <div class="fila">
            <!-- Botones de la primera fila -->
            <div class="switch-container" [ngClass]="{ 'active': isCheckedLed }" (click)="toggleSwitch()">
                <label class="switch">
                    <img src="../../../../assets/images/bombilla-de-idea.png" alt="led">
                </label>
                <div class="status-label">{{ isCheckedLed ? 'Encendido' : 'Apagado' }}</div>
            </div>

            <div class="switch-container" [ngClass]="{ 'active': isCheckedValancin }" (click)="toggleSwitchValanin()">
                <label class="switch">
                    <img src="../../../../assets/images/cuna-de-bebe.png" alt="valancin">
                </label>
                <div class="status-label">{{ isCheckedValancin ? 'Encendido' : 'Apagado' }}</div>
            </div>
        </div>

        <div class="fila">
            <!-- Botones de la segunda fila -->
            <div class="switch-container" [ngClass]="{ 'active': isCheckedCarrucel }" (click)="toggleSwitchCarrucel()">
                <label class="switch">
                    <img src="../../../../assets/images/movil-cuna.png" alt="valancin">
                </label>
                <div class="status-label">{{ isCheckedCarrucel ? 'Encendido' : 'Apagado' }}</div>
            </div>
<!-- 
            <div class="switch-container" [ngClass]="{ 'active': isCheckedMusica }" (click)="toggleSwitchMusica()">
                <label class="switch">
                    <img src="../../../../assets/images/cancion-de-cuna.png" alt="valancin">
                </label>
                <div class="status-label">{{ isCheckedMusica ? 'Encendido' : 'Apagado' }}</div>
            </div> -->
        </div>
    </section>

</body>

<script>
  // Suponiendo que tienes una función que obtiene la temperatura actual
  

 function actualizarTermometro() {
        const termometro = document.getElementById('termometro');
        const valorContenido = termometro.getAttribute('data-content');

        // Convertir el valorContenido a un número si es necesario
        const temperatura = parseFloat(valorContenido);

        if (temperatura < 20) {
            termometro.className = 'termometro frio';
        } else if (temperatura >= 20 && temperatura < 30) {
            termometro.className = 'termometro templado';
        } else {
            termometro.className = 'termometro caliente';
        }
    }


  // Actualiza el termómetro cada segundo
  setInterval(actualizarTermometro, 1000);
    </script>