body {
    font-family: 'Arial', sans-serif;
    margin-top: -30px;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../../../../assets/images/iot.jpg');
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
    background-position: center;
    /* Centra la imagen en el fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen de fondo se repita */
    color: #011318;
    /* Color de texto blanco para contrastar con la imagen de fondo */
}

/* Agrega estilos adicionales según sea necesario */
.dispositivo {

    backdrop-filter: blur(2px);

    // background: linear-gradient(270deg, #59057a7b 0%, #0380ad80 100%);
    background-color: transparent;
}

// .p-knob-value {
//     color: MediumTurquoise !important;
// }

// .p-knob-range {
//     background-color: SlateGray !important;
// }

// sensores temperatura y humedad


::ng-deep .mat-vertical .mat-slider-wrapper {
    height: 200px;
    /* Define la altura del slider vertical según sea necesario */
    transform: rotate(270deg);
    /* Rotar el slider verticalmente */
    transform-origin: left top;
    /* Cambiar el origen de la transformación para evitar que el slider se desplace */
}

.sensor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperatura,
.humedad {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.value {
    margin-left: 5px;
}

// 


.switch-container img {
    width: 65px;
    cursor: pointer;
    height: 65px;
    padding-right: 5px;
}



.botones {
    display: flex;
    align-items: flex-end;
    margin-top: -350px;
    // margin-right: 150px;

    flex-direction: row-reverse;
   
    margin-right: 10px;
}

.fila {
    display: flex;
    justify-content: flex-end;
    /* Alinea los elementos de la fila a la derecha */
    margin-bottom: 20px;
    /* Espacio entre las filas */
}

.switch-container {
    max-width: 200px;
    /* Ancho máximo deseado para cada botón */
    margin-right: 100px;
    /* Espacio entre los botones */
}

.switch-container {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;


    background: radial-gradient(circle at center, #939393 0%, #0b263a 100%);


    border: none;
    color: #fff;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 20px rgba(15, 255, 221, 0.3);
    border: solid 10px #283546;


    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-around;
    /*Distribuyeloselementosuniformementedentrodelgrupo*/
    // margin-bottom: 20px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;

    max-width: 300px;
    /* Ancho máximo deseado para cada switch-container */
    margin-bottom: 20px;
}



.switch-container:hover {
    box-shadow: 0 0 5px #ffffff, 0 0 20px rgb(255, 238, 0);
    /* Aquí se aumenta el margen al pasar el cursor */
}

.status-label {
    margin-top: 80px;
    position: absolute;
}

.switch-container.active {
    color: #000;
    background: radial-gradient(circle at center, #d8ff4d 0%, #1eca00 100%);
    box-shadow: 0 0 4px #000, 0 0 20px #efff7a;
    border: solid 10px #71ff31;


}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 64px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}




.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

header {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.dispositivos {
    display: flex;
    // animation: 1s infinite rotates;
    justify-content: space-around;
    flex-wrap: wrap;
    // flex-direction: column;
    padding: 10px;
    margin-right: 790px;
    margin-top: 30px;
}

.dispositivo {
    width: 240px;
    height: 340px;

    margin: 20px;
    // border: 1px solid #ccc;
    border: none;
    padding: 15px;
    text-align: center;


}

.conectar {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header-Title {
    color: #fff;
    background-color: #37696c;
}

@keyframes rotates {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(369deg);
    }
}


@layer primeng {
    .p-sidebar .p-sidebar-header+.p-sidebar-content {
        padding-top: 0;
        left: 50%;
        transform: translateX(-10%) translateY(-50%);
        top: 20%;
    }
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Agregar esta línea para centrar horizontalmente */
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    width: 200px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 5px 15px;
    background-color: #324e6c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
}

button:hover {
    background-color: #324e6c;
}



// select 
.optionSelect {
    // background-color: #f5f5f5; 

    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    color: #ffe300;
    margin-top: 20px;
}

option {
    text-transform: none;
    background: #000000;
    color: #ffe300;
    // background-color: rgb(255, 255, 255);
}

option:hover {
    text-transform: none;
    background: #ffffff;
    color: #030303;
    // background-color: rgb(255, 255, 255);
}




.card {
    background-color: #ffffff;
}





.termometro {
    width: 60px;
    height: 210px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #EEE;
    border: 2px solid #8a8888;
    border-radius: 30px 30px 30px 30px;
    /* Redondea solo la parte superior */
    position: relative;
    margin-left: 70px;
    margin-top: -5px;
    overflow: hidden;

    /* / Asegura que la base redonda no sobresalga */
}

.termometro::after {
    content: '';
    position: absolute;
    bottom: 0;
    background: #6495ED;
    /* Color inicial para frio */
    width: 100%;
    border-radius: 25px;
    transition: height 0.3s, background-color 0.3s;
}

/* Base redonda del termómetro */
.termometro::before {
    content: attr(data-content);
    position: absolute;
    bottom: -2px;
    left: 50%;
    z-index: 1;

    margin-bottom: 10px;
    transform: translateX(-50%);
    width: 50px;
    /* Igual al ancho del termómetro */
    height: 50px;
    /* Altura para formar un círculo perfecto */
    // background: #333;
    border-radius: 50%;
    /* Redondea completamente para formar un círculo */
    text-align: center;
    /* Centra horizontalmente */
    line-height: 50px;
    /* Centra verticalmente */
}

.termometro.frio::before {
    z-index: 1;

    background: #6495ED;
    /* Azul para frio */

}

/* Cambia el color y la altura del termómetro según la clase */
.termometro.frio::after {
    height: 85%;
    width: 15px;

    margin-left: -8px;
    margin-bottom: 10px;

    text-align: center;
    background: #6495ED;
    /* Azul para frio */
}


.termometro.templado::before {
    background: #FFD700;
    /* Amarillo para templado */

}



.termometro.templado::after {
    height: 85%;
    width: 15px;
    text-align: center;
    margin-left: -8px;
    margin-bottom: 10px;
    background: #FFD700;
    /* Amarillo para templado */
}

.termometro.caliente::before {
    z-index: 1;
    background: #FF4500;
    /* Rojo para caliente */

}

.termometro.caliente::after {
    height: 85%;
    width: 15px;
    /* text-align: center;
   */
    margin-left: -8px;
    margin-bottom: 10px;
    background: #FF4500;
    /* Rojo para caliente */
}



.speedometer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    /* Transparent border for gradient */
    border: 5px solid transparent;
}


@layer primeng {
    .p-knob-text {
        font-size: 1.3rem;
        text-align: center;

        fill: none !important;
    }
}

@layer primeng {
    .p-component {
        font-family: var(--font-family);
        font-feature-settings: var(--font-feature-settings, normal);
        font-size: 1rem;
        font-weight: 400;
        background: rgb(255, 255, 255);
    }
}


.p-knob-value {
    background: #21cdf3;
}

.p-knob-range {

    background: #747e87;

}

.speed-dial {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* Dial blanco */
}

.speed-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
}

.humidity-image {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.temperatura-image {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Nuevo CSS para el borde basado en la humedad */
.speedometer::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px #00ff00;
    /* Verde para baja humedad */
    z-index: -1;
}

// $temperaturas: ("frio": #6495ED,
//     "templado": #FFD700,
//     "caliente": #FF4500);

// .termometro {
//     width: 50px;
//     height: 200px;
//     background: #EEE;
//     border: 2px solid #333;
//     border-radius: 25px;
//     position: relative;
//     margin: 50px;

//     &::after {
//         content: '';
//         position: absolute;
//         bottom: 0;
//         background: map-get($temperaturas, "frio");
//         width: 100%;
//         border-radius: 25px;
//         transition: height 0.3s, background-color 0.3s;
//     }
// }

// // Cambia el color y la altura del termómetro según la clase
// .termometro.frio::after {
//     height: 33%;
//     background: map-get($temperaturas, "frio");
// }

// .termometro.templado::after {
//     height: 66%;
//     background: map-get($temperaturas, "templado");
// }

// .termometro.caliente::after {
//     height: 100%;
//     background: map-get($temperaturas, "caliente");
// }