
<p-sidebar [(visible)]="sidebarVisible3" position="top">
    <div class="container">
        <div class="form-group row align-items-center">
            <label for="keyInput" class="col-form-label col-sm-2">Api Key</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="keyInput" [value]="usuarioId._id" readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="copiarClave()">
                        <i class="fas fa-copy"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>
<header class="header">
    <h1 class="logo">IOT SERVICE</h1>
    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a routerLink="/iot/devices" routerLinkActive="active">Devices</a>
            </li>
            <li class="menu-item">
                <a routerLink="/iot/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="menu-item">
                <a routerLink="/iot/tokens" routerLinkActive="active">Apps</a>
            </li>
            <li class="menu-item">
                <a  (click)="mostrarSidebar()">API Credentials</a>
            </li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>