

<header class="header">
    <h1 class="logo">IOT SERVICE</h1>
    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a routerLink="/dashboard" routerLinkActive="active">Devices</a>
            </li>
            <li class="menu-item">
                <a routerLink="/devices" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="menu-item">
                <a routerLink="/tokens" routerLinkActive="active">Apps</a>
            </li>
            <li class="menu-item">
                <a (click)="mostrarSidebar()">New</a>
            </li>
        </ul>
    </nav>
</header>

<!-- <app-iotheader></app-iotheader>
<router-outlet></router-outlet> -->
<!-- <router-outlet></router-outlet> -->