    <div class="container">
        <div class="content">
        <form [formGroup]="frmAgregarPreguntas" (ngSubmit)="agregarPregunta()" class="question-form">
            <div class="form-group">
                <label for="question">Pregunta:</label>
                <input formControlName="titulo" type="text" id="question" name="question" required>
            </div>
        
            <div class="form-group">
                <label for="answer">Respuesta:</label>
                <textarea id="answer" formControlName="contenido" name="answer" required></textarea>
            </div>
        
            <div class="form-group">
                <button type="submit">{{btnTitle}}</button>
            </div>
        </form>

            <!-- Sección para listar preguntas -->
            <div  id="questions-list">
                <h2>Preguntas Existentes:</h2>
                <ul  *ngFor="let pregunta of listPreguntas"  id="questions">
                    <!-- Las preguntas se listarán aquí -->
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="{{pregunta.titulo}}">
                        <p>{{pregunta.contenido}}
                        <div class="button-row">
                                <i (click)="eliminarPregunta(pregunta._id)"  class="btn-delete fas fa-trash-alt">Eliminar</i>
                                <i (click)="editar(pregunta._id)" class="btn-update  fas fa-sync-alt">Actualizar</i>
                        </div>
                    </p-accordionTab>
                </p-accordion>
                </ul>
            </div>
        </div>
    </div>

    <script>
        // Aquí iría tu JavaScript para manejar las preguntas
    </script>
<!--  -->
<!-- </body> -->
