<body>
    
    <div class="contenedor">
        <div class="contenido">
            <h1>Tropical</h1>
            <h1>World</h1>
            <h5>admin</h5>
          
            <p class="texto-bienvenida">
                ¡Bienvenido al panel de administración de Tropical World, administrador!
                
                En este panel tendrás acceso a todas las herramientas y funciones necesarias para gestionar y mejorar la experiencia de
                nuestros usuarios en Tropical World. Explora las diferentes secciones y utilidades disponibles para administrar
                contenido, usuarios, estadísticas y más.
                
                ¡Gracias por ser parte de Tropical World y por tu dedicación en hacer de nuestra plataforma un lugar extraordinario!

            </p>
        </div>
    </div>
</body>