body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    // height: 100%;
    // top: -8%;
margin-top: -50px;
padding: 40px;
    background-image: url('../../../../assets/images/fondoBody.jpg');
    background-size: cover;
    background-position: center;

}

body {
    position: relative;
    /* Establece la posición relativa para el cuerpo */
}

.contenedor {
    position: absolute;
    /* Establece la posición absoluta para el contenedor */
    top: 20%;
    font-size: clamp(2.5rem, 1.0774rem + 3.7936vw, 5.625rem);
    // font-size: clamp(2.5rem,1.0774rem+3.7936vw,5.625rem);
    /* Distancia desde la parte superior del cuerpo */
    left: 30%;
    /* Distancia desde la izquierda del cuerpo */
    width: 550px;
    /* Ancho del contenedor */
    background-color: #ffdd9e4e;
    /* Fondo transparente */
        backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 10px #ffca68b8;
    /* Bordes redondeados */
    padding: 20px;
    /* Espaciado interno */
    text-align: center;
    /* Centra el contenido */
}
.contenido h1 {
    margin: 5px 0;
}

.contenido h5 {
    margin: 0;
}

.texto-bienvenida {
    font-size: 18px;
    margin-top: 20px;
}


// * {
//     margin: 0%;
//     padding: 0%;
//     box-sizing: border-box;
// }



// // span {
// //     position: absolute;
// //     pointer-events: none;
// //     transition: 0.5s;
// //     background-size: cover;
// //     animation: animate 1s linear infinite;
// // }

// @keyframes animate {
//     0% {
//         translate: 0 0;
//         opacity: 0;
//     }

//     10% {
//         opacity: 1;
//     }

//     30% {
//         translate: 0 100px;
//         opacity: 1;
//     }

//     90% {
//         opacity: 1;
//     }

//     100% {
//         translate: 0 80px;
//         opacity: 0;
//     }
// }

// header {
//     background-color: #b9b9b9;
//     color: #ff8ef2;
//     text-align: center;
//     padding: 1em 0;
// }

// @import url(https://fonts.googleapis.com/css2?family=Alata&display=swap);

// @import url(https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap);


// @import url(https://fonts.googleapis.com/css2?family=Mitr&display=swap);

// // .inciar {
// //     border-radius: 5px;
// //     padding: 3px;
// //     color: #ffc72f;
// //     background: #ffffff;
// //     font-family: 'Dancing Script', handwriting;

// //     margin: solid 1px #b98800;
// // }

// // @Mitr


// /* body { */
// .nombreEmp h1 {
//     color: rgba(0, 72, 131, 0.995);
//     /* size: 30em; */
//     text-shadow: 0px 0px 5px #ffe600;
//     // Medium 500

//     font-size: 800%;
//     font-family: 'Mitr', handwriting;
//     /* font-family: 'Dancing Script', handwriting; */
//     /* font-family: 'Cedarville Cursive', handwriting; */
  

// }



// // 
//   .contenedor-admin-bienvenida {
//     //   background-color: rgba(255, 255, 255, 0.5);
//       /*Fondotransparente*/border-radius: 10px;
//       /*Bordesredondeados*/padding: 20px;
//     //   width: 100px;
//     //   height: 60px;
//       text-align: center;
//       -webkit-border-radius: 10px;
//       -moz-border-radius: 10px;
//       -ms-border-radius: 10px;
//       -o-border-radius: 10px;
//     //   height: 100vb;
// }

//   .nombreEmp h1 {
//       margin: 25px 0;
//   }

//   .nombreEmp h5 {

//       margin: 100px;
//   }




// @mixin fade-in-bottom {
//     @keyframes fade-in-bottom {
//         0% {
//             transform: translateY(50px);
//             opacity: 0;
//         }

//         100% {
//             transform: translateY(0);
//             opacity: 1;
//         }
//     }
// }

// // Llama al mixin para definir la animación
// @include fade-in-bottom;

// // Asigna la animación a la clase .imagen
// .imagen {
//     animation: fade-in-bottom 1s ease;
//     //Puedesajustarladuraciónylafuncióndetemporizaciónsegúntusnecesidades:;
//     -webkit-animation: fade-in-bottom 1s ease;
// }