
<body>
    <header class="header">
        <h1 class="title">Mis Apps</h1>
        <p class="info">Puedes crear mas dispositivos desde nuestra interfaz</p>
    </header>
    <main  class="main">
        <input [(ngModel)]="filterProducts" type="text" class="search-input" placeholder="Search Token">
        <table  *ngIf="dispositivos.length>0" class="token-table">
            <thead>
                <tr>
                    <th>Nombre dispositivo</th>
                    <th>Fecha creada </th>
                    <th>código</th>
                    <!-- <th>Rate limit</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dispositivo of dispositivos">
                    <td>{{dispositivo.deviceName}}</td>
                    <td>{{dispositivo.fechaCreacion}}</td>
                    <td>{{dispositivo._id}}</td>
                    <!-- <td>1 req/s</td> -->
                </tr>
                <!-- Add more token rows here -->
            </tbody>
        </table>
        <div *ngIf="dispositivos.length==0">No hay dispositivos disponibles.</div>
    </main>
    <footer class="footer">
        <select class="page-size">
            <option value="10">10 per page</option>
            <option value="20">20 per page</option>
            <!-- Add more options if needed -->
        </select>
        <button class="add-token-button">+</button>
    </footer>
</body>

