<p-sidebar    [(visible)]="sidebarVisible2" position="right">
    <h3 class="sidebar-title">{{titulo}}</h3>
    <form [formGroup]="frmCrearDev" (ngSubmit)="crearDispositivo()" class="device-form">
        <label for="deviceName">Device name:</label>
        <input formControlName="deviceName" type="text" id="deviceName" name="deviceName"
            placeholder="Enter device name" required>

        <label for="deviceLabel">Device label:</label>
        <input formControlName="deviceLabel" type="text" id="deviceLabel" name="deviceLabel"
            placeholder="Enter device label" required>

        <button type="submit" class="create-button">{{btnTitle}}</button>
        <!-- <button type="submit" class="create-button">Create a device</button> -->
    </form>
</p-sidebar>

<body>
    
    <header class="header">
        <h1 class="title">Mis Apps</h1>
        <p class="info">Puedes crear mas dispositivos desde nuestra interfaz</p>
    </header>
    <main  class="main">
        <input [(ngModel)]="filterProducts" type="text" class="search-input" placeholder="Search Token">
    <button type="button" class="mr-2" (click)="sidebarVisible2 = true" icon="pi pi-arrow-left"
        class="add-device">+</button>
                                    <p-confirmDialog header="Confirmar Eliminación" icon="pi pi-exclamation-triangle" [appendTo]="'body'"></p-confirmDialog>

        <table  *ngIf="dispositivos.length>0" class="token-table">
            <thead>
                <tr>
                    <th>Nombre dispositivo</th>
                    <th>Fecha creada </th>
                    <th>código</th>
                    <th scope="col">Acciones</th>

                    <!-- <th>Rate limit</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dispositivo of dispositivos">
                    <td>{{dispositivo.deviceName}}</td>
                    <td>{{dispositivo.fechaCreacion}}</td>
                    <td>{{dispositivo._id}}</td>
                <td>
                    <i (click)="editar(dispositivo._id)" class="fas fa-edit text-primary me-4"></i>
                    <i style="cursor: pointer;" (click)="mostrarConfirmacionEliminar(dispositivo._id)" class="fas fa-regular fa-trash-can text-danger"></i>
                    <!-- <p-confirmDialog header="Confirmar Eliminación" icon="pi pi-exclamation-triangle" [appendTo]="'body'"></p-confirmDialog> -->
                    <!-- <i (click)="eliminarProducto(producto._id)"
                                                        class="fas fa-regular fa-trash-can text-danger"></i> -->
                </td>
                    <!-- <td>1 req/s</td> -->
                </tr>
                <!-- Add more token rows here -->
            </tbody>
        </table>
        <div *ngIf="dispositivos.length==0">No hay dispositivos disponibles.</div>
    </main>
    <footer class="footer">
        <select class="page-size">
            <option value="10">10 per page</option>
            <option value="20">20 per page</option>
            <!-- Add more options if needed -->
        </select>
        <button class="add-token-button">+</button>
    </footer>
</body>

