<p-sidebar [(visible)]="sidebarVisible2" position="right">
    <h3 class="sidebar-title">Add New Device</h3>
    <form class="device-form">
        <label for="deviceName">Device name:</label>
        <input type="text" id="deviceName" name="deviceName" placeholder="Enter device name" required>

        <label for="deviceLabel">Device label:</label>
        <input type="text" id="deviceLabel" name="deviceLabel" placeholder="Enter device label" required>

        <button type="submit" class="create-button">Create a device</button>
    </form>
</p-sidebar>
<body>
    <header class="header">
        <h1 class="title">Devices</h1>
        <div class="device-count">2 Devices</div>
        <input type="text" class="search-bar" placeholder="Search devices...">
    </header>
    <main class="devices">
        <div class="device-card">
            <h2 class="device-name">berna</h2>
            <p>Last updated: a month ago</p>
            <p>5 variables</p>
        </div>
        <div class="device-card">
            <h2 class="device-name">esp32devs</h2>
            <p>Last updated: a month ago</p>
            <p>6 variables</p>
        </div>
    </main>
 


    <button   type="button" class="mr-2" (click)="sidebarVisible2 = true" icon="pi pi-arrow-left" class="add-device">+</button>
    <footer class="pagination">1 - 2 of 2</footer>
</body>

