<p-sidebar [(visible)]="sidebarVisible2" position="right">
    <h3 class="sidebar-title">Add New Device</h3>
    <form  [formGroup]="frmCrearDev" (ngSubmit)="crearDispositivo()" class="device-form">
        <label for="deviceName">Device name:</label>
        <input formControlName="deviceName" type="text" id="deviceName" name="deviceName" placeholder="Enter device name" required>

        <label for="deviceLabel">Device label:</label>
        <input formControlName="deviceLabel" type="text" id="deviceLabel" name="deviceLabel" placeholder="Enter device label" required>

        <button type="submit" class="create-button">Create a device</button>
    </form>
</p-sidebar>


<header class="header">
    <div *ngIf="mostrarDispositivos" class="device-count">{{ deviceCount }} Devices</div>
    <div *ngIf="!mostrarDispositivos" class="device-count">0 Devices - No tienes dispositivos</div>
    <input *ngIf="mostrarDispositivos" type="text" class="search-bar" placeholder="Search devices...">
</header>

<main class="devices" *ngIf="mostrarDispositivos">
    <div class="device-card" *ngFor="let dispositivo of dispositivos">
        <h2 class="device-name">{{ dispositivo.deviceName }}</h2>
        <!-- Mostrar otras propiedades del dispositivo si es necesario -->
    </div>
</main>

<button type="button" class="mr-2" (click)="sidebarVisible2 = true" icon="pi pi-arrow-left"
    class="add-device">+</button>
<footer class="pagination" *ngIf="mostrarDispositivos">1 - {{ deviceCount }} of {{ deviceCount }}</footer>

