<!-- <body> -->

    <!-- <div class="carrusel-parrafos">
    <p *ngFor="let parrafo of parrafos; let i = index" class="parrafo" [@animacion]="parrafo.estado">
        {{ parrafo.texto }}
    </p>
</div> -->
    <!-- 
    <span class="cursor-sombra"></span> -->
    <!-- <img class="imagen" src="../../../../assets/images/nn.png" alt=""> -->
    <div class="log-text">
        <div class="nombreEmp">

            <div class="welcome-container">
                <p class="empresa">Bienvenidos a Tropical World</p>
                <p>Descubre un mundo de productos exclusivos para tu bebé.</p>
                <p>Calidad, confort y estilo para los más pequeños de la casa.</p>
                <p>Explora nuestra amplia gama de artículos y encuentra todo lo que necesitas.</p>
            </div>
        </div>
    </div>




<div class="card-container">
    <div class="card">
        <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1711381148/Productos/bxzvlisgpti0y6icoize.webp" alt="Producto" class="card-image">
        <!-- <img src="ruta/a/imagen-del-producto.jpg" alt="Producto" class="card-image"> -->
        <div class="card-content">
            <h2 class="card-title">Paseo y transporte</h2>
            <p class="card-description">Descripción breve del producto...</p>
            <a href="#" class="card-button">Ver Más</a>
        </div>
    </div>
    <div class="card">
        <!-- <img src="ruta/a/imagen-del-producto.jpg" alt="Producto" class="card-image"> -->
        <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1711384871/Productos/vd3p6y7rrit1qtljjhzw.webp" alt="Producto" class="card-image">
        <div class="card-content">
            <h2 class="card-title">Alimentación y lactancia</h2>
            <p class="card-description">Descripción breve del producto...</p>
            <a href="#" class="card-button">Ver Más</a>
        </div>
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1711454953/Productos/iutpunwivor0jyh7vefk.webp" alt="Producto" class="card-image">
        <!-- <img src="ruta/a/imagen-del-producto.jpg" alt="Producto" class="card-image"> -->
        <div class="card-content">
            <h2 class="card-title">"ropa para bebé"</h2>
            <p class="card-description">Descripción breve del producto...</p>
            <a href="#" class="card-button">Ver Más</a>
        </div>
    </div>

    <!-- Repite la estructura de la tarjeta para más productos -->
</div>

<!-- <app-footer></app-footer> -->
<!-- </body> -->