<!-- <body> -->
<div class="container2">
    <h2>Registrar Política</h2>
    <form [formGroup]="frmAgregarPoliticas" (ngSubmit)="agregarPolitica()" method="post">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input formControlName="titulo" type="text" id="titulo">
        </div>
        <div class="form-group">
            <label for="contenido">{{titulo | uppercase}}</label>
            <input formControlName="contenido" type="text" id="contenido">
        </div>
        <button type="submit">
            {{btnTitle}}
        </button>
    </form>
</div>



<div   *ngFor="let politica of listPoliticas"lass="p-grid">
    <div class="p-col-12">
        <p-accordion [activeIndex]="0">
        
            <p-accordionTab header="{{politica.titulo}}">
                <p>{{politica.contenido}}<div class="button-row">
                <button  class="btn-delete">
                    <i (click)="eliminarPolitica(politica._id)" class="fas fa-trash-alt"></i>
                    Eliminar
                </button>
            
                <button class="btn-update">
                    <i (click)="editar(politica._id)" class="fas fa-sync-alt"></i>
                    Editar
                </button>
            </div></p-accordionTab>
            
        </p-accordion>


      
    </div>
</div>

<!--     
</body> -->