<!-- <body> -->
<div class="container2">
        <p-button (click)="showDialog('top')" icon="pi pi-arrow-down" label="Agregar política" styleClass="p-button-warning"></p-button>

</div>
<p-dialog header="Header" [(visible)]="visible"  [style]="{ width: '50vw'  ,position:'center'}">
    <form [formGroup]="frmAgregarPoliticas" (ngSubmit)="agregarPolitica()" method="post">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input formControlName="titulo" type="text" id="titulo">
        </div>
        <div class="form-group">
            <label for="contenido">Política:</label>
            <textarea id="float-input" rows="5" cols="30" id="contenido" formControlName="contenido"
                pInputTextarea></textarea>
        </div>
        <button type="submit">
            {{btnTitle}}
        </button>
    </form>
</p-dialog>


<div   *ngFor="let politica of listPoliticas"lass="p-grid">
    <div class="p-col-12">
        <p-accordion [activeIndex]="0">
        
            <p-accordionTab header="{{politica.titulo}}">
                <p>{{politica.contenido}}<div class="button-row">
                <button  class="btn-delete">
                    <i (click)="eliminarPolitica(politica._id)" class="fas fa-trash-alt"></i>
                    Eliminar
                </button>
            
                <button class="btn-update">
                    <i (click)="editar(politica._id)" class="fas fa-sync-alt"></i>
                    Editar
                </button>
            </div></p-accordionTab>
            
        </p-accordion>


      
    </div>
</div>

<!--     
</body> -->