<header [ngClass]="{'scrolled': isScrolled}">
   
<!-- <body> -->
    <!-- <div *ngIf="loggingIn" class="loading-overlay"> -->
      
    <!-- </div> -->
<!-- </body> -->

   
    <nav>
        <ul id="ul">
            <li id="li3">
                <!-- <a id="logo" routerLink="/"> -->
                <p-avatar image="../../../../assets/images/logo1.jpeg" styleClass="mr-2" size="xlarge"
                    shape="circle"></p-avatar>
                <!-- </a> -->

            </li>
            <!-- <li id="li">
                <button mat-icon-button class="menu" (click)="sidebarVisible = true" id="menu"
                    aria-label="Example icon button with a menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </li> -->


            <li id="li">
                <a id="a" routerLink="/">
                    Home
                </a>

            </li>



            <li id="li" class="ul1">
                <a id="a" routerLink="/listar-productos">Productos</a>
                <ul class="ul">
                    <li><a href="#">Calificacion</a></li>
                    <li><a routerLink="cards-productos">catalogo</a></li>
                    <li><a href="#">Comentarios productos</a></li>
                    <!-- <li><a href="#"></a></li> -->
                </ul>
            </li>

            <li id="li" class="ul1">
                <a id="a">Iot</a>
                <ul class="ul">
                    <li routerLink="iot" id="li1">Dispositivos</li>

                    <!-- <li><a href="#"></a></li> -->
                </ul>
            </li>

            <li id="li" class="ul1">

                <a routerLink="/recuperacion" id="a"> recuperacion</a>
            </li>
            <li id="li" class="ul1">

                <a routerLink="/miPerfil" id="a"> Mi perfil</a>
            </li>

            <li id="li" class="ul1">

                <a routerLink="politicas" id="a"> politicas de privacidad</a>
            </li>

            <li id="li" class="ul1">
                <!-- </ul> -->
                <a routerLink="dashboard" id="a"> graficos</a>
            </li>

            <li id="li">
                <a id="a" routerLink="" (click)="logout()">cerrar sesion
                </a>
            </li>
        </ul>
    </nav>

</header>



<div class="card flex justify-content-center">
    <p-breadcrumb id="contenedor-breadcrumb" class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
</div>



<div class="loading-overlay">

<div *ngIf="isLoading" class="spinner-grow" style="width: 3rem; height: 3rem;margin-bottom: 10px;" role="status">
    <span class="visually-hidden">Loading...</span>
</div>