<div class="primer-header">
    <h1>Panel de Administración</h1>
</div>
<header [ngClass]="{'scrolled': isScrolled}">




    <nav>
        <ul id="ul">
            <li id="li3">
                <p-avatar image="../../../../assets/images/logo1.jpeg" styleClass="mr-2" size="xlarge"
                    shape="circle"></p-avatar>
            </li>
          



            <!-- <li id="li" style="color: rgb(8, 114, 80);">
                    <a id="a">Tropical world</a>
            </li> -->

            <li id="li">
                <a id="a" routerLink="/admin-home">
                    Home
                </a>

            </li>



            <li id="li" class="ul1">
                <a id="a">Productos</a>
                <ul class="ul">
                    <!-- <li><a href="#">p</a></li> -->
                    <li><a routerLink="cards-productos">Catalogo</a></li>
                    <li><a *ngIf="!isEmpleado" routerLink="listar-productos">Listar productos</a></li>
                </ul>
            </li>
            <li id="li" class="ul1">
                <a id="a" routerLink="/listar-usuarios" *ngIf="!isEmpleado">Usuario</a>
            </li>


            <li id="li" class="ul1">
                <a id="a">Iot</a>
                <ul class="ul">
                    <li routerLink="/iot" id="li1">Dispositivos</li>

                </ul>
            </li>

            <li id="li" class="ul1">

                <a routerLink="/recuperacion" id="a"> Recuperacion</a>
            </li>
            <li id="li" class="ul1">

                <a routerLink="/miPerfil" id="a"> Mi perfil</a>
            </li>

            <li id="li" class="ul1">
                <a routerLink="agregar-politicas" id="a"> Politicas de privacidad</a>
            </li>
            <!-- <li id="li" class="ul1">
                <a routerLink="politicas" id="a"> Politicas de privacidad</a>
            </li> -->

            <!--  -->

            <li id="li" class="ul1">
                <!-- </ul> -->
                <a routerLink="preguntas" id="a"> preguntas</a>
            </li>

            <li id="li">
                <a id="a" routerLink="" (click)="logout()">Cerrar sesion
                </a>
            </li>
        </ul>
    </nav>

</header>


<!-- 
<div class="card flex justify-content-center">
    <p-breadcrumb #parent id="contenedor-breadcrumb" class="max-w-full">
        <ol class="breadcrumb">
            <ng-template ngFor let-route [ngFor]="parent.breadcrumbs">
                <li *ngIf="!route.terminal" class="breadcrumb-item">
                    <a [routerLink]="route.url">{{route.displayName}}</a>
                </li>
                <li *ngIf="route.terminal" class="breadcrumb-item- active">{{route.displayName}}</li>
            </ng-template>

        </ol>
    </p-breadcrumb>

</div> -->



<div class="loading-overlay">

    <div *ngIf="isLoading" class="spinner-grow" style="width: 3rem; height: 3rem;margin-bottom: 10px;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>