<body>
  <div class="loading-overlay">
 <div *ngIf="isLoading" class="loader"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  </div>
  <div>
    <div class="contenedor">

      <!-- form -->
      <form method="post" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="container">
          <div class="frm-container">
            <h2>Iniciar sesión</h2>
            <div class="conteninesinput">
              <p-avatar image="../../../assets/images/logo1.jpeg" styleClass="mr-2" size="xlarge"
                shape="circle"></p-avatar>
              <!-- </p-inputGroup> -->
            </div>
            <div class="conteninesinput">
              <p-inputGroup>
                <p-inputGroupAddon>
                  <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <span class="p-float-label">
                  <input formControlName="correo" pInputText id="nombre" />
                  <label for="nombre">correo de usuario</label>
                </span>
              </p-inputGroup>
            </div>
            <br>
            <!-- Input para la contraseña -->
            <div class="conteninesinput">
              <span class="p-float-label">
                <input type="text" pInputText id="pass" formControlName="pass" />
                <label for="pass">Contraseña:</label>
              </span>
            </div>
            <br>
            <!-- Botón de inicio de sesión -->
            <button type="submit" class="btn">Iniciar sesión</button>
          </div>
        </div>
      </form>


      <div class="container2">
        <div class="frm-container-opciones">
          <ul>
            <li><a routerLink="/crear-cuenta">Registrarme</a></li>
            <li><a routerLink="/recuperacion">olvide mi contraseña</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>