
body{
background-image: url('../../../../src/assets/images/fondoBody.jpg');
    background-size: cover;
    /* Hace que la imagen de fondo cubra todo el cuerpo */
    background-position: center;
    /* Centra la imagen de fondo */}
    


 a{
 cursor: pointer;
 }   


.frm-container {
    background: rgb(232, 232, 232);
    position: absolute;
     top: 55%;
text-align: center;
    left: 50%;
    transform: translate(-50%,-80%);
    border-radius: 10px;
    width: 400px;
    padding: 50px;
}
    


.container2{

    background: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
     top:0;
height: 100%;

    left: 10%;
    transform: translate(-50%,-150%);
    border-radius: 10px;
    width: 300px;
  text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    transform: translateY(70px);

   
    animation: float 2s  ease-in-out  forwards;
    /* padding-right: 40px; */
}
ul{
list-style: none;
}

@keyframes float {


from{
opacity: 0;
transform: translateY(50px);
/* translate: ; */
}
to{
opacity: 1;
transform: translateY(150px);
}


}




/* 

 /* estilos globales */

.contenedor{
top: 0%;
margin: 0%;
}


h2{
color: #6095db;
}


.btn{
width:280px;

padding: 5px;
background: #6095db;
border:solid #000000 1px;
color: black;

height: 40px;
}

.btn:hover{
width:280px;

padding: 5px;
background: #ffe4ad;
border:solid #09839e 1px;
color: #09839e;

height: 40px;
}
/* estilos globales para botones */



.iniciar{
margin-top: 20px;
}
.btn{
margin-top: 10px;
}

.conteninesinput{
margin-top: 15px;


}
.container{
background: #6095db;
}

.opciones{
margin-top: 0px;
}
/* #id {
margin-top: px;
width: 280px;
} */

 #pass{
width: 500%;
}

     .p-float-label{
width: 16.5em;
}