

<body>
    <header>
        <h1>Bienvenido a Tropical World</h1>
    </header>
    <main>
        <section class="informacion">
            <article class="conocenos">
                <h2>Conócenos</h2>
                <p>Somos el Equipo 4, conformado por Nico, Gabriel, Zuñiga y Jose Flores. Nuestra misión es desarrollar
                    una página web que emule una tienda virtual especializada en la venta de productos y accesorios para
                    bebés. Estamos comprometidos en brindar la mejor experiencia de compra para los futuros padres y
                    aquellos que buscan artículos de calidad para sus pequeños.</p>
            </article>
            <article class="redes-sociales">
                <h2>Síguenos en Redes Sociales</h2>
                <ul>
                    <li><a href="https://www.facebook.com/ejemplo" target="_blank">Facebook</a></li>
                    <li><a href="https://www.twitter.com/ejemplo" target="_blank">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </article>
        </section>
        <section class="comentarios">
            <h2>Deja tu Comentario</h2>
            <form  method="post"  [formGroup]="comentarioForm" (ngSubmit)="registrarComentario()">
                <div class="form-group">
                    <label   for="nombre">Nombre:</label>
                    <input formControlName="nombre"  type="text" class="form-control" id="nombre" placeholder="Tu Nombre">
                </div>
                <div class="form-group">
                    <label for="nombre">Correo:</label>
                    <input formControlName="correo" type="email" class="form-control" id="nombre" placeholder="Tu correo">
                </div>
                <div class="form-group">
                    <label for="comentario">Comentario:</label>
                    <textarea formControlName="comentario" class="form-control" id="comentario" rows="4" placeholder="Tu Comentario"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Comentario</button>
            </form>
        </section>
        <section class="equipo">
            <h2>Equipo de Desarrollo</h2>
            <div class="miembro">
                <div class="imagen">
                    <!-- <img src="imagen-miembro.jpg" alt="Imagen del miembro"> -->
                </div>
                <div class="descripcion">
                    <h3>Nombre del miembro</h3>
                    <p>Cargo del miembro</p>
                    <p>Descripción del miembro</p>
                    <ul class="redes-sociales">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="miembro">
                <div class="descripcion">
                    <h3>Nombre del miembro 2</h3>
                    <p>Cargo del miembro 2</p>
                    <p>Descripción del miembro 2</p>
                    <ul class="redes-sociales">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="imagen">
                    <!-- <img src="imagen-miembro-2.jpg" alt="Imagen del miembro 2"> -->
                </div>
            </div>
        </section>
    </main>
    <!-- <footer>
        <p>Copyright &copy; 2023 - Tropical World</p>
    </footer> -->
</body>

