.contenerdor-texto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    animation: float1 2s ease-in-out infinite;

}


.contenedor {
    top: 0%;
    margin: 0%;
    
    overflow: hidden;

}


.container {
    margin-top: 5vb;
display: flex;
    overflow: scroll;
    margin-bottom: 5px;
   margin-left: 15%;
    padding: 50px;
        /* overflow: hidden; */
    width: 2000%;
    height:100%;
    flex-wrap: wrap;
    /* background:inset 0 0 10px linear-gradient(to bottom,blue,yellow); */
    justify-content: space-between;
}

.contenedor-bienvenida {
    position: relative;
    margin-top: 0px;
    width: 500px;
    margin-left: 35%;
    margin-right: 30%;
    margin-bottom: 20px;
    height: 300px;
    animation: float 2s ease-in-out infinite;
    background-image: url('../../../../assets/images/imagefondo.jpeg');
    background-size: contain;
    background-position: center;

    background-repeat: no-repeat;
    overflow: hidden;

    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.837); Agrega la sombra al contenedor */
}

.contenedor-bienvenida:hover {
    -webkit-transform: scale(-5);
    transform: scale(1.3);
}

.contenedor-bienvenida::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #897409;
    opacity: 0.5;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
        filter: blur(0.7px);

        color: aqua;
        box-shadow: 0px 0px 5px rgba(173, 213, 219, 0.932);
        /* Agrega la sombra al contenedor */

    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes float1 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);

    }

    100% {
        transform: translateY(0px);
    }
}


h3 {
    margin: auto;
    font-size: 50px;
}

img {

    padding: auto;
    height: 200px;
    width: 250px;
}



.loading {
    text-align: center;
    margin-top: 150px;
}

.info {

    border: 1px solid #000000;
}

.card {

    border: 4px solid #c7c7c74c;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.882);
    height: 480px;
    /* margin: 100px; */
    width: 400px;
    margin-right: 30px;
        display: flex;
    /* z-index: 10px; */


    box-shadow: 0px 20px 50px #cccccce3;
    /* animation: nom};  */
    padding: 30px;
              
    position: relative;


 transition: filter 0.3s ease;
 }

 /* .card:hover {
     filter: brightness(-90%);
     -webkit-filter: brightness(-90%);
} */

 .blur {
     filter: blur(5px);
 }
.card:hover {

    box-shadow: 0px 20px 50px #7a9a98e3;

}

.blur .card {
    filter: blur(5px);
}


@media (min-width: 700px) {

    .cards {
        /* z-index: 1px; */
        display: flex;
        overflow: scroll;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Alinea las tarjetas a los extremos de su contenedor */
    }

    .card {
    overflow: hidden;
margin-top: 20px;
        width: calc(30% - 20px);
        /* Ajusta el ancho de cada tarjeta para que haya 4 por fila */
    }
}



.acciones ul {
    margin: auto;
    margin-left: -50px;
    list-style: none;

    flex-direction: row;
}

.acciones li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.detalles {
    /* padding: 10px; */
    border-bottom: 1px solid #ddd;
}

/* efecto borroso */

